<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>


    <add name="SqlProvider" connectionString="5gp5YixPongEPXcqLKFejfzI0HFMoNGJJIZbvO1q61VX2VRq2d49aDxCDqpMr4g8fl43o08ynfbE6oZ1PZvbOQ==" />
    <!-- Produccion-->


  </connectionStrings>
  <appSettings>
    <add key="IDProject" value="5" />
    <add key="Version" value="3.7" />
    <add key="IDProjectGC" value="GZC" />
    <add key="CantCaractLoggin" value="1" />
    <add key="DupDe" value="PD" />
    <add key="DupDe1" value="FD" />
    <add key="DupDe2" value="DUG" />
    <add key="DupDe3" value="DUP" />
    <add key="ORIGINAL" value="Original" />
    <add key="Inst1" value="TS" />
    <add key="Inst2" value="CB" />
    <add key="Inst3" value="GPS" />
    <add key="MineL1" value="Wall" />
    <add key="MineL2" value="FaceCut" />
    <add key="MineL3" value="Flor" />



    <!--<add key="Server" value="Data Source=MEDBDDPROEOL\SQLColGoldEd" />-->
    <!--<add key="Ruta_ExcelGeoch" value="D:\Plantillas\GZC_120808_CHValidation.xls" />-->

    <add key="CodSurface" value="133" />
    <add key="Server" value="Data Source=10.20.2.24" />
    <add key="Ruta_ExcelGeoch" value="\\Segsvrfs01\EXPLORATION\Data\Forms\Template\GZC_120808_CHValidation.xls" />


    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>